footer {
    height: 20vh;
    background-color: #000;
    color: #fff;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 30px;
    gap: 5px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.redes img {
    height: 35px;
    width: 35px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.copyright p {
    margin-top: 20px;
}